<!DOCTYPE html>
<html>
  <head>
    <title>Auth0RailsFrontendExample</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body ng-app="auth0-rails-frontend-example" ng-strict-di>
    <%= yield %>
  </body>
</html>
